@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&display=swap");

* {
  font-family: "Nanum Pen Script", cursive;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: black;
}

.main_background_image {
  height: 500px;
  width: 100%;
}

.main_background_shadow {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.9) 0,
    rgba(0, 0, 0, 0.9) 60%,
    rgba(0, 0, 0, 0.9) 100%
  );
  position: absolute;
  height: 180%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.background-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 2.5em;
  font-weight: bold;
}

.sparta-logo {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 60px;
  font-weight: bold;
  color: red;
}

.search-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-search-input {
  padding: 8px;
  width: 200px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {
  padding: 8px 15px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  line-height: 1;
}

.search-button:hover {
  background-color: red;
}

.default-ltr-cache-jpuyb8.e9eyrqp8 {
  font-size: 55px;
}

.default-ltr-cache-10i4ild.e9eyrqp7 {
  font-size: 30px;
}

.main {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: auto;

  grid-column-gap: 80px;
  grid-row-gap: 190px;

  overflow: auto;

  padding-top: 50px;
}
.details {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.details-main {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: auto;

  grid-column-gap: 80px;
  grid-row-gap: 80px;

  overflow: auto;

  padding-top: 0px;
  padding-left: 50px;
}

/* .card {
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 10px;
  color: white;
  border: 1px solid red;
  background-color: transparent;
} */

.card {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  margin-right: 60px;
  margin-left: 40px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  color: white;
  background-color: transparent;
}

.poster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.p_title {
  font-size: 25px;
  text-align: center;
  z-index: 1;
  color: white;
}

.plus {
  position: relative;
}

/* 섹션 css */
section {
  width: 100%;
}

section ::-webkit-scrollbar {
  display: none;
}

section .content-list {
  margin-top: 50px;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

h1 {
  color: white;
}

section .content-list .slider {
  display: flex;
  gap: 0.5rem;

  scroll-behavior: smooth;
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}

section .content-list .prev-arrow {
  transform: rotateY(180deg);
}

section .content-list .prev {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}

section .content-list .next {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}

i {
  color: white;
}

div {
  border: transparent;
}

hr {
  color: black;
}

#blankBox {
  width: 60px;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 40px;
}
.btn-btn-dark {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* 모달 css */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 150%;
  position: absolute;
}

.modalDetails {
  width: 60%;
  height: auto;
}

.modalContent {
  display: flex;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 4px;
  margin: 10% 0% 0% 0%;
  top: 0;
  padding: 25px 25px;
  width: 70%;
  height: auto;
  overflow-y: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.modalPoster {
  width: 35%;
  height: auto;

  box-shadow: 1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
  -webkit-box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
}

/* 영제 흐릿하게 */
.modalContent h3 {
  font-size: 24px;
  color: gray;
}

.review {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

#reviewbtn {
  width: auto;
  margin-left: auto;
  margin-right: 10px;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletebtn {
  border: none;
}

.hidden {
  display: none;
}

/* 페이드인 애니메이션 */
.modalContent.fadein {
  animation: fadein 250ms ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* 페이지네이션 */

.pagination {
  justify-content: center;
}
.page-link {
  color: white;
  border-color: transparent;
  background-color: transparent;
  transition: none;
}
